@using SuperheroesApp.ViewModel;

@model SuperheroInfoVM

    <div class="modal-content" id="superhero-info-modal">
        <div class="modal-body">
            <h2>Superhero info</h2>
        </div>
        <div id="main-info" style="margin-left:10px">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Id:
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        {{model.Id}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Name:
                    </p>
                </div>
                <div class="col-md-6">
                    <p >
                        {{model.Name}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p >
                        Nickname:
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        {{model.Nickname}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p >
                        DOB:
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        {{model.DOB}}
                    </p>
                </div>
            </div>
        </div>
        </div>
       

<script>
    var model = {
        Id: @Model.Id,
        Name: '@Model.Name',
        Nickname: '@Model.NickName',
        DOB: '@Model.DOB'
    }

    var supeheroInfoController = new SuperheroInfoController(new SuperheroInfoBusiness());
    supeheroInfoController.Initialize(model);
</script>
