
@{
    ViewBag.Title = "SuperheroForm";
}

<h2>SuperheroForm</h2>

<form id="main-form">
    <div class="form-group">
        <label for="name">Name:</label>
        <input v-model="model.Name" type="text" id="name" class="form-control" placeholder="Name" aria-label="name" maxlength="30" required />

        <label for="sername">Sername:</label>
        <input v-model="model.Sername" type="text" id="sername" class="form-control" placeholder="Sername" aria-label="sername" maxlength="30" required />

        <label for="nickname">Nickname:</label>
        <input v-model="model.Nickname" type="text" id="nickname" class="form-control" placeholder="Nickname" aria-label="nickname" maxlength="30" />

        <label for="patronymic">Patronymic:</label>
        <input v-model="model.Patronymic" type="text" id="patronymic" class="form-control" placeholder="Patronymic" aria-label="patronymic" maxlength="30" />
    </div>
    <div class="form-group">
        <div style="position: relative">
            <label for="dob">DOB:</label>
            <input v-model="model.DOB" id="dob" class="form-control" placeholder="DOB" aria-label="dob" required />
        </div>

        <div style="position: relative">
            <label for="tob">TOB:</label>
            <input v-model="model.TOB" id="tob" class="form-control" placeholder="TOB" aria-label="tob" required />
        </div>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="genderMale" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            Male
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Female
        </label>
    </div>

    <div class="form-group">
        <label for="superpower">Superpower:</label>
        <select class="form-control" v-model="model.Superpower" id="superpower">
            <option v-for="power in superpowers" v-bind:value="power.Id">{{power.Text}}</option>
        </select>

        <label for="achievements">Achievements:</label>
        <select class="form-control" v-model="model.Achievements" id="achievements" multiple>
            <option v-for="achievemen in achievements" v-bind:value="achievemen.Id">{{achievemen.Text}}</option>
        </select>
    </div>

    <div class="form-group">
        <div style="position: relative">
            <input id="add-info" v-model="model.IsAdditionalInfo" type="checkbox" class="form-check-input" aria-label="add-info" required />
            <label class="form-check-label" for="add-info">
                Add additional info
            </label>
        </div>

        <div v-show="model.IsAdditionalInfo" style="position: relative">
            <label for="add-text">Additional info:</label>
            <textarea v-model="model.AdditionalInfo" id="add-text" class="form-control"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
</form>
<script>

    var urls = {
            getGridDataUrl: '@Url.Action("GetGridInfo","Superhero")',
            getSuperheroModalUrl: '@Url.Action("SuperheroInfoModal","Superhero")',
            getSuperpowersUrl: '@Url.Action("GetSuperpowers","Superhero")',
            getAchievementsUrl: '@Url.Action("GetAchievements","Superhero")'
        };


    var controller = new SuperheroFormController(new SuperheroFormBusiness(new SuperheroService(urls)));
    controller.Initialize();
           
</script>
